@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Tangerine:wght@400;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Funnel Display", sans-serif;
  scroll-behavior: smooth;
}
:root{
  --prim-color: #f4ede8;
  --black-color :#000000;
  --white-color: #ffffff;
  --text-color : #333333;
  --section-color: #f9f9f9;
  --Newsreader: "Newsreader", serif;
  --Tangerine: "Tangerine", cursive;
  --transition-regular: all 0.3s ease;
  --transition-slow: all 0.6s ease;
}